html {
    background: url(http://www.hutui6.com/data/out/73/66779666-flat-wallpapers.png) bottom center;
    background-size: cover;
}

html,
body {
    padding: 0px;
    margin: 0px;
    font-family: Ubuntu;
    height: 100%;
    width: 100%;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 100%;
    .key {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        color: white;
        font-weight: 400;
        border: 3px solid black;
        border-radius: 5px;
        padding: 10px;
        margin: 20px;
        width: 50px;
        height: 50px;
        transition: all .07s;
        // background: url('/images/opacitybg.png');
        background: rgba(0, 0, 0, 0.1);
        .name {
            font-size: 10px;
            color: greenyellow;
        }
    }
    .playing {
        transform: scale(1.2);
        border: 3px solid greenyellow;
        box-shadow: 0px 0px 12px greenyellow;
        background: rgba(0, 0, 0, 0.7);
    }
}